@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* FONTS */
:root {
  --orbitron-font: "Orbitron", sans-serif;
  --poppins-font: "Poppins", sans-serif;
}

/* COLORS */
:root {
  --light-color: #ffffff;
  --gradient-bg-color: linear-gradient(158deg, #d10ed1 0%, #10a3da 100%);
  --gray-color: #ffffffcc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.display-grid {
  display: grid;
}

/* COMPONENTS STYLES */

.btn {
  border-radius: 0.3125rem;
  color: var(--light-color);
  font-family: var(--poppins-font);
  font-size: clamp(0.2rem, 4vw, 1.25rem);
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
  width: max-content;
}

.btn-primary {
  background: var(--gradient-bg-color);
  padding-block: clamp(0.5rem, 5vw, 0.75rem);
  padding-inline: clamp(1.2rem, 5vw, 1.8rem);
}

.btn-secondary {
  background: var(--gradient-bg-color);
  padding: 2px;
}

.btn-secondary span {
  display: inline-block;
  background-color: #010101;
  border-radius: 0.3125rem;
  width: 100%;
  height: 100%;
  padding: 0.75rem 1.8rem;
}

body {
  background: linear-gradient(
    180deg,
    #010208 16.39%,
    #010206 20.51%,
    #040008 24.79%,
    #010101 30.46%,
    #010101 34.11%,
    #010101 36.21%,
    #010101 100%
  );
  font-family: var(--orbitron-font);
  color: var(--light-color);
}

header {
  position: relative;
}

header > img {
  top: -5rem;
  left: clamp(0.5rem, 1vw, 5rem);
  position: absolute;
}

header nav {
  padding-block: 2.8rem;
}

header nav h3 {
  font-size: 1.375rem;
  font-weight: 700;
}

header nav ul {
  gap: 3.12rem;
}

header nav li a {
  color: var(--light-color);
  font-family: var(--poppins-font);
  font-size: 1rem;
  font-weight: 400;
}

.hero-container {
  /* background-color: gray; */
}

.hero-container {
  padding-top: 3rem;
  flex-wrap: wrap-reverse;
}

.hero-container .content h1 {
  font-size: clamp(1.7rem, 5vw, 2.8125rem);
  font-weight: 600;
  line-height: clamp(3rem, 5vw, 4.25rem);
  max-width: 38.25rem;
}

.hero-container .content > h1 span {
  font-size: clamp(2rem, 5vw, 3.4375rem);
  font-weight: 700;
  background: linear-gradient(158deg, #f86cf8 0%, #64cef5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-container .content > p {
  font-size: clamp(1rem, 4vw, 1.25rem);
  font-weight: 400;
  font-family: var(--poppins-font);
  margin-top: 1.13rem;
  max-width: 32.5625rem;
}

.hero-container .button-container {
  gap: 1rem;
  margin-block: 3rem 2.5rem;
}

.hero-container .count-container {
  gap: clamp(2.5rem, 3vw, 4.25rem);
  margin-block: 3rem 2.5rem;
}

.hero-container .count-container h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.hero-container .count-container p {
  font-family: var(--poppins-font);
  font-size: 1.125rem;
  font-weight: 400;
}

.hero-container .img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  width: clamp(36rem, 5vw, 35.375rem);
  height: clamp(33rem, 5vw, 35.375rem);
}

.hero-container .img::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent, #000000);
  height: 10rem;
}

.hero-container .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* meta-verse */

.meta-verse {
  position: relative;
  padding-bottom: clamp(0rem, 5vw, 4rem);
}

.meta-verse > img {
  position: absolute;
  top: -14rem;
  left: 0;
  z-index: 2;
}

.meta-verse-container {
  padding-block: 5rem;
  gap: clamp(2rem, 4vw, 9.62rem);
  flex-wrap: wrap;
}

.meta-verse-container > .image {
  width: clamp(36rem, 5vw, 35.375rem);
  height: clamp(33rem, 5vw, 35.375rem);
}

.meta-verse-container .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.meta-verse-container .content h2 {
  font-size: clamp(1rem, 3vw, 2.1875rem);
  font-weight: 600;
  width: fit-content;
}

.meta-verse-container .content h2 span {
  background: var(--gradient-bg-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Orbitron;
  font-size: clamp(1rem, 3vw, 2.1875rem);
  font-weight: 600;
}

.meta-verse-container .content p {
  color: var(--gray-color);
  font-family: var(--poppins-font);
  font-size: clamp(1rem, 3vw, 1.125rem);
  font-weight: 400;
  line-height: 1.875rem;
  padding-block: 1rem 3.25rem;
  max-width: 32.75rem;
}

.meta-verse-work {
  padding-top: clamp(0rem, 5vw, 4rem);
}

.meta-verse-work .heading {
  text-align: center;
}

.meta-verse-work .heading > h2,
.our-activity .heading > h2 {
  font-size: clamp(1.2rem, 3vw, 2.1875rem);
  font-weight: 600;
}

.meta-verse-work .heading > h2 span,
.our-activity .heading > h2 span {
  background: var(--gradient-bg-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Orbitron;
  font-size: clamp(1.2rem, 3vw, 2.1875rem);
  font-weight: 600;
}

.meta-verse-work .heading > p,
.our-activity .heading > p {
  color: var(--light-color);
  font-family: var(--poppins-font);
  font-size: clamp(1rem, 3vw, 1.125rem);
  font-weight: 400;
  padding-block: 1rem 5.44rem;
}

.meta-verse-work .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 23.375rem);
  grid-gap: 2.25rem;
  justify-content: center;
}

/* card */
.card {
  padding: 1.12rem 1.25rem;
  border-radius: 0rem 0.9375rem 0rem 0.9375rem;
  background-color: #090823;
}

.card .content > h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1.44rem;
}

.card .content > p {
  font-family: var(--poppins-font);
  font-size: 0.875rem;
  font-weight: 400;
  padding-block: 1.5rem 1.75rem;
  color: var(--gray-color);
}

.card .content .buttons button:first-child {
  padding: 0.5rem 1rem;
  border-radius: 0.3125rem;
  background: linear-gradient(158deg, #d10ed1 0%, #10a3da 100%);
  color: #fff;
  font-family: var(--poppins-font);
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
}

.card .content .buttons button:last-child {
  border-radius: 0.3125rem;
  background: linear-gradient(158deg, #d10ed1 0%, #10a3da 100%);
  color: #fff;
  font-family: var(--poppins-font);
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  padding: 1px;
  margin-left: 0.81rem;
}

.card .content .buttons button:last-child span {
  width: 100%;
  height: 100%;
  padding: 0.45rem 0.8rem;
  display: inline-block;
  border-radius: 0.3125rem;
  background: #010101;
}

/* our-activity */

.our-activity {
  padding-block: 10rem;
}

.our-activity .heading {
  text-align: center;
}

.our-activity .heading h2 {
  text-align: center;
}

.our-activity .videos-row {
  padding-inline: clamp(2rem, 5vw, 7.5rem);
  gap: 3.38rem;
  overflow: hidden;
}

.our-activity .videos-row .video-card {
  position: relative;
}

.our-activity .video-card h3 {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #fff;
  font-size: 2.8125rem;
  font-weight: 600;
}

footer {
  background: #090823;
  padding-block: 5rem;
  color: var(--gray-color);
}

footer .left > h2 {
  font-size: 3.125rem;
  font-weight: 700;
  background: linear-gradient(158deg, #f86cf8 0%, #64cef5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

footer .left > p {
  font-family: var(--poppins-font);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  max-width: 32.75rem;
  margin-top: 1.44rem;
}

footer .lists {
  font-family: var(--poppins-font);
  gap: 5rem;
}

footer .lists > nav {
}

footer .lists > nav > h3,
.contact-icon > h3 {
  font-family: var(--orbitron-font);
  color: var(--light-color);
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

footer .lists > nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer .lists > nav ul li a {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
}

.contact-icon > .display-flex {
  gap: 1.3rem;
}

.contact-icon > p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1.5rem;
  color: #fff;
}
